Source: ssh_authorized_keys_fetcher
Section: admin
Priority: extra
Maintainer: Mathieu GAUTHIER-LAFAYE <gauthierl@lapth.cnrs.fr>
Build-Depends: debhelper (>= 8.0.0),
               dh-golang,
               golang-go,
               golang-godebiancontrol-dev,

Standards-Version: 0.1.0
#Vcs-Git: git://git.debian.org/collab-maint/dcs.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/dcs.git;a=summary

Package: ssh_authorized_keys_fetcher
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, dpkg-dev
Built-Using: ${misc:Built-Using}
Description: 
 Fetch and cache SSH pubkey retrieve from a HTTP server.
