Source: ssh-authorized-keys-fetcher
Section: admin
Priority: optional
Maintainer: Debian Go Packaging Team <pkg-go-maintainers@lists.alioth.debian.org>
Uploaders: gauthierl <gauthierl@lapth.cnrs.fr>
Build-Depends: debhelper (>= 10),
               dh-golang,
               golang-any
Standards-Version: 3.9.8
Homepage: https://github.com/gauthierl/ssh-authorized-keys-fetcher
Vcs-Browser: https://anonscm.debian.org/cgit/pkg-go/packages/ssh-authorized-keys-fetcher.git
Vcs-Git: https://anonscm.debian.org/git/pkg-go/packages/ssh-authorized-keys-fetcher.git
XS-Go-Import-Path: github.com/gauthierl/ssh-authorized-keys-fetcher

Package: ssh-authorized-keys-fetcher
Architecture: any
Built-Using: ${misc:Built-Using}
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Fetch and cache SSH pubkey
 This program fetch user's SSH pubkeys and cache the result to be reused later.
 It's used by ssh daemon to retrieve the user's pubkeys. 
 You have to configure AuthorizedKeysCommand in your sshd_config to use it.
